// A

// B
$black-primary: #141414;
$black-darkeness-primary: #212020;

// C

// D

// E

// F

// G
$grey: #E6E6E6;

// H

// I

// J

// K

// L

// M

// N

// O

// P

// Q

// R
$red: #FF4848;

// S

// T

// W
$white-primary: #FFFFFF;

// X

// Y
$yellow-secondary: #DBFF00;

// Z

