.expertises-page{

    .img{
        position: absolute;
        top: -90px;
        right: 0;
        width: 485px;
        height: 580px;
        background-color: $black-darkeness-primary;
    
        @include media(1383px){
            display: none;
        }
    }

    .expertises{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        > * {
            margin-top: 120px;
        }
    }
}
