.home-page{

    .banner{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-between;


        @include tabletLandscape{
            flex-direction: column;
            justify-content: center;
        }

        .smile-icon{
            align-self: baseline;

            @include tabletLandscape{
                align-self: flex-end;
                width: 200px;
            }
        }
    }

    .competences{
        background-color: $black-darkeness-primary;

        .competences-container{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            > * {
                margin-top: 80px;
            }
        }
    }

    .action{
        display: flex;

        .action-content{
            flex: 2;
            display: flex;
            flex-direction: column;
            justify-content: center;

            p{
                font-size: 24px;
                line-height: 150%;
                padding-right: 150px;
                margin-top: 30px;
            }
        }

        .action-icon{
            flex: 1;
            display: flex;
            flex-wrap: wrap;
            margin-right: -95px;
        }
    }
}