// A

// B

%button{
    display: block;
    margin-top: 30px;
    width: 100%;
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    text-decoration: underline;
    color: $white-primary;
    text-align: right;
}

// C

// D

// E

// F

// G

// H

// I

// J

// K

// L

// M

// N

// O

// P

// Q

// R

// S

// T

// W

// X

// Y

// Z
