// A

// B

// C
%checkBox-ipt{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 13.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    display: inline-block;
    margin-right: 0.5rem;
    height: 32px;
    width: 32px;
    background: $black-primary;
    border: 1px solid $white-primary;
    color: $white-primary;
    transition: all 0.15s ease-out 0s;
    cursor: pointer;
    outline: none;


    &:checked{
        background: $black-primary;

        &::before{
            height: 32px;
            width: 32px;
            position: absolute;
            content: '✔';
            display: inline-block;
            font-size: 20px;
            text-align: center;
        }
    }
}

// D
%default-ipt{
    display: block;
    margin-top: 12px;
    width: 100%;
    border: none;
    border-bottom: solid 1px white;
    background-color: transparent;
    font-size: 28px;
    line-height: 130%;
    opacity: .5;
}

// E
%email-ipt{
    @extend %default-ipt;
}

// F
%fieldset{
   display: block;
   margin-top: 30px;
}

// G

// H

// I

// J

// K

// L
%label{
    font-weight: bold;
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;
    color: $white-primary;
}

%legend{
    display: initial;
}

// M

// N
%number-ipt{
    @extend %default-ipt;
}

// O

// P
%password-ipt{
    @extend %default-ipt;
}

// Q

// R
%radio-ipt{
    position: relative;
    cursor: pointer;

    &:before{
        content: '';
        position: absolute;
    }

    &:after{
        content: attr(data-label);
    }

    &:checked:before{
    }
}

// S
%submit-ipt{
    display: initial;
}

%select-ipt{
    @extend %default-ipt;
}

// T
%text-ipt{
    @extend %default-ipt;
}

%tel-ipt{
    @extend %default-ipt;
}

%textarea-ipt{
    @extend %default-ipt;
}

// W

// X

// Y

// Z



