// First title
%title-1{
    display: block;

    font-size: 72px;
    text-transform: uppercase;
    font-family: 'Khula';
    font-weight: 700;

    @include tabletLandscape{
        font-size: 40px;
    }

    @include mobilePortrait{
        font-size: 32px;
    }
}

// Second title
%title-2{
    @extend %title-1;
    font-size: 40px;

    @include tabletLandscape{
        font-size: 32px;
    }

    @include mobilePortrait{
        font-size: 28px;
    }
}

// Third title
%title-3{
    @extend %title-1;
    font-size: 54px;
    font-weight: bold;
}

// Fourth title
%title-4{
    @extend %title-1;
    font-size: 35px;
}

// Last title
%title-5{
    @extend %title-1;
    display: initial;
}
